.App {
  text-align: center;
  background-color: rgb(217, 225, 243);
  justify-content: center;
  color: black;
  width: 40vw;
  margin: auto;
  min-height: 100vh;
}

.App-header {
  font-size: 200%;
  margin-bottom: 50px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.setButtons{
  margin: 5px 5px 20px auto;
}